{% extends 'main/base_template.html' %}
{% load static %}

{% block content %}
    <h2>Разработчик игр (Game dev</h2>
    <img class="main-image" src="{% static  'main/images/gamepad.png'%}" alt="геймпад">
    <p>Разработчик игр – это современная востребованная специальность. Она привлекает тех, кто любит игры во всех проявлениях, и тех, кто хочет развиваться в сфере, не теряющей актуальность вот уже 20 лет. Секрет специальности в том, что чистых разработчиков не существует, но есть много направлений, которые один человек прекрасно совмещает.</p>
    <p>Тем, кто далек от мира IT, может показаться, что данное направление подходит для изучения опытным программистам, а новичкам в нем делать нечего. На самом деле это далеко не так. В нашей статье мы расскажем, что должен знать и уметь разработчик игр, насколько прост доступ к профессии и что поможет быстро освоить необходимый минимум для работы.</p>
    <h3>Чем занимаются и какие бывают разработчики игр</h3>
    <img src="{% static 'main/images/gamedev-2.png' %}" alt="">
    <p>Создание игр (game development) – мощная индустрия, ориентированная на выпуск новых игр для разных движков и платформ, в виде приложений для ПК, смартфона или социальной сети. Геймдевелопер – человек, занятый в этой сфере. Однако это общее понятие, включающее в себя массу узких специализаций. Дадим краткое описание видов разработчиков игр:</p>
    <ul>
        <li>Gameplay developer продумывает общую концепцию и механику в тесном контакте с 3D-аниматорами и гейм-дизайнерами.</li>
        <li>Engine developer работает над созданием специальных шаблонов – утилит и тулзов, благодаря которым другие специалисты быстро решают свои задачи.</li>
        <li>Animation developer отвечает за визуальную сторону новой игры. Он создает фоны, пейзажи, костюмы и внешний вид персонажей, инструменты и оружие.</li>
        <li>DevOps developer обеспечивает комфорт пользователей, использующих для игры сторонние сервисы, например, Battle.net и Ubisoft.</li>
        <li>UI и Client developers занимаются всеми элементами за пределами игрового мира – заставка, меню, переходы между разделами. От них зависит первое впечатление от игры, а также удобство геймеров в процессе ее прохождения.</li>
        <li>Graphics programmer отвечает за то, чтобы приложение не предъявляло слишком высоких требований к устройствам и благодаря этому было как можно более доступным.</li>
        <li>Back-end developer реализует внутреннюю структуру – сервера, парсинг, получение данных. От этого специалиста во многом зависит работоспособность игры.</li>
    </ul>
    <h3>Общий набор обязанностей разработчика игр</h3>
    <p>Работа разработчика игр подразумевает решение целого ряда смежных задач, а бывает, что над одним сложным компонентом игры одновременно работают несколько профессионалов. Основными направлениями в гейм-девелопменте являются:</p>
    <ul>
        <li>программирование;</li>
        <li>создание персонажей и продумывание сценариев их взаимодействия;</li>
        <li>подбор и интеграция визуальных и звуковых эффектов;</li>
        <li>проработка функционала игры;</li>
        <li>внедрение плагинов и SDK для рекламы, аналитики, контроля соблюдения правил и т. д.;</li>
        <li>оптимизация кодов по скорости работы и требовательности;</li>
    </ul>
    <div class="important">
    <p>Разработчик в процессе создания игры использует готовые программные сборки. В пятерку наиболее популярных входят Unity, Unreal Engine, GameSalad, CryEngine, HeroEngine. Обязательным требованием к гейм-девелоперу является владение языками программирования (С++, Jawa, Python и т. д.). Кроме того, ему необходимо легко ориентироваться в оптимизационном софте, который в большом количестве создается специально для игровой индустрии.</p>

    </div>
    <h3>Преимущества и недостатки профессии разработчика игр</h3>
    <p>Убедительных доводов в пользу освоения этой специальности немало:</p>
    <ul>
        <li>Создание игрового софта хорошо оплачивается, поэтому способный креативный девелопер может рассчитывать на стабильно высокий доход.</li>
        <li>Известные компании этой отрасли заинтересованы в талантливых разработчиках и готовы предоставить им отличные условия для продуктивной деятельности.</li>
        <li>Можно создать себе репутацию высококлассного специалиста, оставаясь фрилансером, и выбирать наиболее интересные задачи из предложений заказчиков.</li>
        <li>Рынок игрового софта благодаря востребованности продвигаемых продуктов привлекает инвесторов.</li>
        <li>Для реализации своих идей можно использоваться разные платформы – ОС, IOS/Android и т. д.</li>
        <li>Знания и навыки, которыми гейм-девелопер владеет в силу своих профессиональных обязанностей, позволяют ему при желании найти работу в любой сфере, где востребовано программирование, 3D-моделирование, основы создания мобильных приложений.</li>
    </ul>

{% endblock %}
