{% extends 'main/base_template.html' %}
{%  load static %}

{% block content %}
    <h2>Статистика в виде графика</h2>
    <img class="graph" src="{% static 'main/images/graph.png' %}" alt="графики">
    <h2>Статистика в виде таблицы</h2>
    <table>
        <tr>
            {% for heading in headings_years %}
            <td class="bold">{{heading}}</td>
            {% endfor %}
        </tr>
        {% for row in data_years %}
        <tr>
            {% for cell in row %}
            <td>{{cell}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}